$font-mono: Consolas, monospaced;

$clr-error: #d11;
$clr-btn-light: #39f;
$clr-btn-dark: darken($clr-btn-light, 20%);
$clr-btn-ok: #0a0;
$clr-btn-cancel: #d11;

$len-margin: 2rem;
$len-side: 0.5rem;
$len-spacing: 0.5rem;