@import '_vars';

.data-query {
	.name { font-weight: bold; }
	.cmd { font-family: $font-mono; }

	.param {
		label {
			line-height: 2;
			margin-right: 0.5em;
		}
	}

	samp { padding: 0.5em; }
}
