@import '_vars';

header {
	display: flex;
	flex-flow: row wrap;
	align-items: baseline;

	margin-bottom: $len-spacing * 2;
	padding: 0 $len-margin 0.5em;
	border-bottom: 1px solid #ccc;

	nav {
		flex: 1;
		padding: 0 1em;

		li { display: inline-block; }
		button {
			padding: 0.5em 1em;
			text-transform: uppercase;
		}
	}

	.socket {
		>* { display: inline-block; }
		.user { font-weight: bold; }
		button {
			margin-left: 0.5em;
			border: { width: 1px; radius: 0.25em; }
			padding: 0.25em;
		}
	}
}
