@import '_vars';

#empty {
	margin: 0 1.75rem;
}

.listing {
	.toolbar { order: -1; }
	ul {
		display: flex;
		flex-flow: row wrap;
		margin: 0 (-$len-spacing/2) $len-spacing/2;
	}
	li {
		flex: 1 0 10em;
		margin: $len-spacing/2;
		padding: 0.5em $len-side*2;
		border: 1px solid #ccc { radius: 0.2em };
		cursor: pointer;
		&:hover { background: #eef; }
		&.selected { background: #ff9; }

		&.empty {
			flex: 2 0 20em;
			color: #999;
			background: inherit;
			cursor: inherit;
		}
	}
	.preview {
		padding: 0.5em $len-side*2;
		background: #eee;
	}
}