@import '_vars';

.toolbar {
	display: flex;
	white-space: pre;
	align-items: baseline;

	background: #eee;

	> * { padding: 0 ($len_pad*2); }

	> button,
	> input {
		outline: 0;
		border: 0;
		line-height: 2.5;
	}

	> input {
		min-width: 20em;
		&:hover, &:focus { background: #ddd; }
	}

	> .title { font-weight: 600; }

	> input,
	> .title { flex: 1; }

	> button.main {
		animation-name: mainpulse;
		animation-duration: 2s;
		animation-timing-function: linear;
		// animation-fill-mode: forwards;
		@keyframes mainpulse {
			0% { }
			50% { color: #000; background: hsl(270, 25%, 80%); border-radius: $len_rad*2; }
		}
		// 50% { color: darken(rgb(153, 204, 255), 50%); background: rgb(153, 204, 255); border-radius: $len_rad*2; }

		&:hover { animation-name: none; }
	}
}