
$font_mono: Consolas, monospaced;

$clr_success: #1d1;
$clr_success_light: #5d5;
$clr_error: #d11;
$clr_error_light: #d55;
$clr_btn_light: #77b; //#39f;
$clr_btn_dark: darken($clr_btn_light, 20%);

$clr_tool_back: #335;
$clr_tool_dark: #112;
$clr_tool_light: #447;

$len_margin: 2rem;
$len_side: 0.5rem;
$len_spacing: 0.5rem;
$len_pad: 0.5em;
$len_rad: 0.25rem;